<% if user_signed_in? %>
  <li class='nav-item <%= 'pin' if controller_name == 'users' && action_name == 'show'%>'><%= link_to 'Voter Record', user_path(current_user), class: 'nav-link' %></li>
  <li class='nav-item <%= 'pin' if controller_name == 'users' && action_name == 'history'%>'><%= link_to 'History', history_user_path(current_user), class: 'nav-link' %></li>
  <li class='nav-item <%= 'pin' if controller_name == 'users' && action_name == 'edit'%>'><%= link_to 'Preferences', edit_user_path(current_user), class: 'nav-link' %></li>
  <li class='nav-item'><%= link_to 'More Info', user_path(current_user), class: 'nav-link' %></li>
  <li class='nav-item'><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete', class: 'nav-link' %></li>
<% end %>
