!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Vote Ready'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Vote Ready'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags
  %body
    %header
      = yield :page_header
      - unless @hide_nav
        = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
    %footer
      .row
        .col-sm-4.left
          .footer-col-content
            = link_to "https://www.trustthevote.org" do
              = image_tag "ttv_logo.png", class: 'logo'
        .col-sm-4.middle
          .footer-col-content
            Pilot Demo Pre-Alpha
        .col-sm-4.right
          .footer-col-content          
            = link_to "OSET Public License", "https://www.osetfoundation.org/public-license"